@use "@/assets/variables" as *;

@mixin flex($align: center, $justify: center, $direction: row, $gap: 4px) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin font(
  $color: #000,
  $font-size: 14px,
  $font-weight: 400,
  $line-height: 14px
) {
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

@mixin button() {
  cursor: pointer;
  font-family: $font;
  border: none;
}
